$font-stack: "Calibri", sans-serif;
$font-color: #450B55;

.breed-button {
  color: $font-color;
  border: 0;
  border-radius: 0.4em;
  padding: 0.75em;
  width: 20%;
  min-width: 10em;
  background-color: #BF8DE9;
  margin: 0.5em;
  text-align: center;
  font-family: $font-stack;

  &.clicked {
    background-color: #8989FC;
    box-shadow: 0.2em 0.2em 0.5em;
  }
}
