@import '../../styles/variables';

.results-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  
  &.loading {
    font-family: $font-stack;
    color: $font-color-main;
    font-size: $font-size-large;
    justify-content: center;    
  }
  
  &.has-data {
    justify-content: space-around;
  }
}
