@import '../../styles/variables';

.results-pics {
  margin: auto;
  text-align: center;
  
  &.loading, &.no-pics {
    width: 100%;
    font-family: $font-stack;
    color: $font-color-main;
    font-size: $font-size-large;
  }
  
  &.has-data {
    width: 58em;
    columns: $num-of-columns;
    background-color: rgb(192, 239, 253);
    
    .each-pic {
      object-fit: contain;
      max-width: 10em;
      margin: 1em auto;
    }
  }
}
